
.home h1{
    color: var(--mid);
    font-size: 62px;
    margin-top: 50vh;
    transform: translateY(-50%); 
    text-align: center;
}

.home h1:hover {
    transform: translateY(-50%) scale(1.2);
}

.home p {
    text-align: center;
    color: var(--light);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    /* position: relative */
}

.about h1 {
    color: var(--mid);
    text-align: center;
    margin-top: 150px;
    font-size: 42px;
}

.about p {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: var(--light);
}

.about h2 {
    color: var(--mid);
    text-align: center;
    font-size: 28px;
    margin-top: 90px;
}

.socials {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
}

.socials .social {
    width: 60px;
    height: 60px;
    background-color: var(--light);
    /* text-align: center; */
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 8px 8px 10px black;
    transition: all 0.8s;
}

.socials .social i {
    font-size: 35px;
    color: var(--dark); 
    line-height: 60px;
    margin-left: 14px;
}

.socials .social:hover {
    width: 250px;
}

.socials .social p {
    text-align: center;
    display: inline;
    line-height: 60px;
    color: var(--dark);
    position: relative;
    top: -10px;
    left: 40px;
}