
.login h1 {
    text-align: center;
    color: var(--mid);
    margin-top: 150px;
    font-size: 42px;
}

.login-btn {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.create-acc-btn {
    text-align: center;
    width: 250px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: var(--light);
    text-decoration: underline;
}

.create-acc-btn:hover {
    opacity: 0.5;
}

.login .or {
    background-color: var(--dark2);
    margin-top: 50px;
    font-size: 18px;
    width: 80%;
    max-width: 500px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.login p {
    text-align: center;
    color: var(--light);
}

.login .google-login {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--dark3);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.login .google-login i {
    line-height: 60px;
    font-size: 35px;
    color: var(--dark);
}

.login .google-login:hover { 
    opacity: 0.55;
}

.login .back {
    margin-top: -30px;
    margin-left: 50px;
    position: absolute;
    color: var(--light);
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.login .back span {
    font-size: 20px;
    line-height: 25px;
    transform: translateY(1.25px);
}

.login .back:hover {
    opacity: 0.7;
}