
.login h1 {
    text-align: center;
    color: var(--mid);
    margin-top: 150px;
    font-size: 42px;
}

.login-btn {
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.create-acc-btn {
    text-align: center;
    width: 250px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: var(--light);
    text-decoration: underline;
}

.create-acc-btn:hover {
    opacity: 0.5;
}

.login .or {
    background-color: var(--dark2);
    margin-top: 50px;
    font-size: 18px;
    width: 80%;
    max-width: 500px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.login p {
    text-align: center;
    color: var(--light);
}

.login .google-login {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--dark3);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.login .google-login i {
    line-height: 60px;
    font-size: 35px;
    color: var(--dark);
}

.login .google-login:hover { 
    opacity: 0.55;
}

.login .back {
    margin-top: -30px;
    margin-left: 50px;
    position: absolute;
    color: var(--light);
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.login .back span {
    font-size: 20px;
    line-height: 25px;
    transform: translateY(1.25px);
}

.login .back:hover {
    opacity: 0.7;
}

.login .otp-inp {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

.login .otp-inp input {
    position: absolute;
    width: 485px;
    height: 60px;
    opacity: 0;
}

.login .otp-inp p {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--mid);
    font-size: 40px;
    text-align: center;
    color: var(--light);
}

.login .submit-otp {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}

.login .cursor {
    margin-top: 0;
    animation-duration: .9s;
    animation-name: cursorAnim;
    animation-iteration-count: infinite;
}

@keyframes cursorAnim {
    0%, 49% {
        opacity: 1;
    } 
    50%, 100% {
        opacity: 0;
    }

    /* 0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;} */
}