.navbar {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
    padding: 6px;
}

.logo {
    width: 65px;
    margin-left: 30px;
    fill: black;
    stroke: black;
}

/* .logo * {
    fill: black;
    stroke: black; 
} */